
__pycache__/interface_mj.cpython-310.pyc

__pycache__/plots.cpython-310.pyc

__pycache__/utils.cpython-310.pyc

.~lock.presidentielle_jm.csv#

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/majority-judgment-tracker.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

libs/__pycache__/majority_judgment.cpython-310.pyc

libs/__pycache__/__init__.cpython-310.pyc
